@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
h1{
  text-align: center;
  color: #f1d21e;
  font-size: 80px;
  font-weight: 500;
}
p{
  color: #0d0e0d;
  font-size: 20px;
  font-weight: 500;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://c.tadst.com/gfx/1200x630/fb-stopwatch2.png?1");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Times new roman', cursive;
}
.wrapper{
  user-select: none;
}
.wrapper .time{
  height: 100px;
  background: #1ae83c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.09);
  padding: 0 10px;
}
.wrapper .time span{
  width: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #333;
}
.time span.colon{
  width: 10px;
}
.time span.ms-colon,
.time span.millisecond{
  color: #76727b;
}
.wrapper .buttons{
  text-align: center;
  margin-top: 30px;
}
.buttons button{
  padding: 6px 16px;
  outline: none;
  border: none;
  margin: 0 5px;
  color: #7D2Ae8;
  background: #fff;
  font-size: 19px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.09);
}
.buttons button.active,
.buttons button.stopActive{
  pointer-events: none;
  opacity: 0.7;
}
